<!-- 게시판 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>종목 토론방</h1>
    
    <h1><a href="/create">글쓰기</a></h1>
    <hr>

    <!-- Main Content -->
    <div>
        <% for (var i = blogposts.length - 1; i > -1; i--){ %>
        <div>
            <a href="/post/<%= blogposts[i]._id %>">
                <h2>
                    <%= blogposts[i].title %>
                </h2>
                <h3>
                    <%= blogposts[i].body %>
                </h3>
                <p>
                    Posted by
                    <a href ="#"><%= blogposts[i].username %></a>
                    
                    <!-- update time이나 create time을 보여주는 코드 -->
                    <% var create = blogposts[i].createdAt * 1000 %>
                    <% var update = blogposts[i].updatedAt * 1000 %>

                    <% if (create == update) { %>
                        on <%= blogposts[i].createdAt %>    
                    <% } %>

                    <% if (create < update) { %>
                        <%= blogposts[i].updatedAt %>    
                    <% } %>
                </p>
                <hr>
            </a>
        </div>
        <% } %>
    </div>
</body>
</html>
